*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data{
    margin-right: 20px;
}

#date{
    border: none;
    padding: 10px;
}

#search{
    width: 6vw;
    height: 2.1vw;
    padding: 4px;
    border-radius: 2px;
    border: none;
    background-color: rgb(156, 18, 145);
    color: white;
    cursor: pointer;
}

#search:hover{
    background-color: rgb(116, 12, 107);
}



.logo {
    height: 3.5rem;
    margin-left: 20px;
    margin-top: 5px;
}

#backVideo{

    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background-size: cover;

}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

#partecima{
    display: flex;
    justify-content: center;
    align-items: center;
}

#parteBaixo{

    width: 85%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    
}

   
#descricao1{
    width: 80%;
    height: 10vh;
    text-align: center;
    padding: 1% 0%;
    border-radius: 10px;
    background-color: rgba(25, 2, 47, 0.096);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
    font-family: monospace;
    
}

#textApi{
    overflow: auto;
}

.quadros{
    width: 30%;
    height: 55vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1%;
    background-color: rgba(25, 2, 47, 0.096);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
    font-family: monospace;
    
}

.quadros img{
    width: 100%;
    height: 100%;
}

.quadros h1{
    margin-top: 5%;    
}


footer{
    
    background-color: rgb(0, 0, 0);
    height: 12vh;
    width: 100%;
    font-family: monospace;    
    color: #fff;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
   
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #ffffff91;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgba(163, 24, 182, 0.8);
}

